/* ..color1 {color: #140f07;}
.color2 {color: #1e2435;}
.color3 {color: #495077;}
.color4 {color: #7e7fc3;}
.color5 {color: #c1b7f8;} */
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
body {
    display: grid;
    grid-template-columns: 1fr 7fr;
    height: 100vh;
}
.encabezado__lateral {
    /* background-color: #6951FC; */
    /* background-color: #7D6DFF; */
    background-color: #7D6DFF;
    /* background-color: rgb(49, 133, 252); */
}
.logo {
    margin-top: 1rem;
    text-align: center;
}
nav {
    margin-top: 3rem;
}
.links {
    text-align: left;
    margin: 1rem 0 1rem 2rem;
}
main {
    background-color: rgb(245, 245, 245);
}
.titulo {
    margin: 1.5rem 0 2rem 2rem;
}
.add-boton {
    margin-left: 2rem;
    background-color: #8b95c3;
    padding: 5px;
    border-radius: 10px;
}
.indice-lista {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 2fr 1fr 0.5fr 1fr 1fr 0.5fr;
    margin: 2rem;
    padding: 1rem 0;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
}
.eliminar {
    border: none;
}
.bi-x-circle-fill {
    display: flex;
    background-color: #7a94f3;
    align-items: center;
    width: 2rem;
    color: rgb(226, 71, 71);
}
.bi-x-circle-fill:hover {
    color: #b93434;
}
.indice-lista__productos {
    display: grid;
    background-color: #7a94f3;
    align-items: center;
    grid-template-columns: 0.5fr 0.5fr 2fr 1fr 0.5fr 1fr 1fr 0.5fr;
    border-radius: 5px;
    margin: 10px 2rem 0;
    padding: 5px 0;
    text-align: center;
}
