*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
ul {
    list-style: none;
    padding: 0;
    margin-top: 3rem;
}
li{
    width: 100%;
}
a {
    text-decoration: none;
    color: white;
    width: 100%;
}
a:hover{
    color: white;
    background-color: #2b2d2f;
}
p{
    margin: 0 3px;
}
body {
    color: white;
    position: relative;
    display: flex;
    min-height: 100vh;
}
.encabezado__lateral {
    width: 15%;
    background-color: #2f3134f9;
    color: white;
}
.logo {
    font-size: 2rem;
    margin: 1rem 0;
    text-align: center;
}
.links {
    display: inline-block;
    margin-bottom: 2rem;
    padding: 10px 0 10px 1.2rem;
}
.bi-boxes, .bi-person-hearts, .bi-calendar-check {
    margin-right: 10px;
}
main {
    background-color: #2b2d2f;
    width: 100vw;
}
.titulo {
    margin: 1.5rem 0 2rem 2rem;
}
.interaccion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1.3rem;
}
.modal-content {
    background-color: #2b2d2f;
    border: rgba(128, 128, 128, 0.921) solid 1px;
}
.addproducto {
    height: fit-content;
    background-color: #2f3134f9;
    border: rgba(128, 128, 128, 0.407) solid 1px;
    margin: 1rem;
    padding: 10px;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    color: white;
    background-color: #2f3134f9;
    width: 100%;
    margin: 10px 10px 10px 0;
}
.btn-close {
    background-color: white;
}
.inputCheck{
    width: fit-content;
    margin: 0 10px 0 0;
}
.buscador {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}
#buscar{
    background-color: #2f3134f9;
    color: white;
    margin-left: 10px;
}
.boton {
    color: white;
    background-color: #01949A;
    height: fit-content;
    padding: 5px;
    border: rgba(128, 128, 128, 0.407) solid 1px;;
    border-radius: 7px;
}
.boton:hover {
    background-color: #0c7a7e;
}
.botonSweet {
    color: white;
    background-color: #01949A;
}
.botones_ordenar {
    color: white;
    background-color: #2f3134;
    border: none;
}
#ordenarLista {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1.5fr 1fr 0.5fr 0.75fr 0.75fr 1.5fr;
    background-color: #2f3134f9;
    margin: 0 1rem;
    padding: 1rem 0;
    border: rgba(128, 128, 128, 0.407) solid 1px;
    border-radius: 5px;
    text-align: center;
}
.botones {
    display: flex;
    align-items: center;
    justify-content: center;
}
.boton-editar {
    margin-right: 10px;
}
#eliminar {
    border: none;
    background-color: #2f3134f9;
}
.bi-x-circle-fill {
    display: flex;
    background-color: #2f3134f9;
    align-items: center;
    font-size: 2rem;
    color: rgb(226, 71, 71);
}
.bi-x-circle-fill:hover {
    color: #b93434;
}
#lista-productos {
    background-color: #2b2d2f;
}
.indice-lista__productos {
    display: grid;
    background-color: #2f3134f9;
    align-items: center;
    grid-template-columns: 0.5fr 0.5fr 1.5fr 1fr 0.5fr 0.75fr 0.75fr 1.5fr;
    border: rgba(128, 128, 128, 0.407) solid 1px;
    margin: 0 1rem 0;
    padding: 5px 0;
    text-align: center;
}
.navbar {
    display: none;
}
.nombreProducto, .numeroProducto{
    display: none;
}

@media screen and (max-width: 426px) {
    body{
        flex-direction: column;
    }
    main{
        height: 100vh;
    }
    .encabezado__lateral {
        width: auto;
    }
    .navDesktop{
        display: none;
    }
    .navbar{
        display: flex;
        background-color: #2f3134f9;
        color: white;
    }
    .offcanvas-header{
        background-color: #2b2d2f;
    }
    .offcanvas-body{
        background-color: #2f3134f9;
    }
    .contenedorNumero, .contenedorPrecioIva, .contenedorId, .contenedorMarca, .btn_numero, .btn_id, .btn_marca, .btn_precioIva {
        display: none;
    }
    .indice-lista__productos {
        grid-template-columns: 1.5fr 0.5fr 1fr 1.5fr;
        margin: 5px;
    }
    #ordenarLista{
        margin: 5px;
        grid-template-columns: 1.5fr 0.5fr 1fr 1.5fr;
    }
    .buscador {
        flex-direction: column;
        justify-content: flex-end;
        margin-left: 1rem;
    }
    .labelBuscar{
        display: none;
    }
    .boton-editar{
        margin-right: 2px;
    }
    .bi-x-circle-fill{
        margin-right: 3px;
    }
}

/* Aca empieza clientes.html */
#ordenarClientes {
    display: grid;
    grid-template-columns: 1.8fr 1fr 1fr 1.4fr 1.8fr;
    background-color: #2f3134f9;
    margin: 0 1rem;
    padding: 1rem 0;
    border: rgba(128, 128, 128, 0.407) solid 1px;
    border-radius: 5px;
    text-align: center;
}
#lista-clientes {
    background-color: #2b2d2f;
}
.indice-lista__clientes {
    display: grid;
    background-color: #2f3134f9;
    align-items: center;
    grid-template-columns: 1.8fr 1fr 1fr 1.4fr 1.8fr;
    border: rgba(128, 128, 128, 0.407) solid 1px;
    margin: 0 1rem 0;
    padding: 5px 0;
    text-align: center;
}
.boton-ver{
    display: none;
}

@media screen and (max-width: 426px) {
    .btn_id, .btn_email, .contenedorId, .contenedor-email {
        display: none;
    }
    .boton-ver {
        padding: 10px;
        display: inline;
    }
    #ordenarClientes{
        grid-template-columns: 1fr 1fr 2fr 1fr;
    }
    .indice-lista__clientes {
        grid-template-columns: 1fr 1fr 2fr 1fr;
    }
    
}
